:root {
  --rich-black: #171A21;
  --spring-green: #00FF7F;
  --dartmouth-green: #198754;
  --seasalt: #F7F9F9;

}

::selection {
  background-color: var(--spring-green);
  color: var(--rich-black);
}

body {
  font-family: Inter, 'sans-serif';
  background-color: var(--rich-black);
  color: var(--seasalt);
}

header {
  font-weight: 500;
  font-size: 1.2em;
}

header h1 a {
  /* text-transform: uppercase; */
  color: var(--seasalt);
}

a.nav-link {
  color: var(--seasalt);
}

a.nav-link:hover {
  color: var(--spring-green);
}

button.btn {
  border-radius: 0;
  padding: 0 30px;
  height: 60px;
  text-transform: uppercase;
  font-size: .8em;
}

button.btn-primary {
  color: var(--rich-black);
  background-color: var(--spring-green);
  border-color: var(--spring-green);
  font-weight: 600;
}


button.btn-primary:hover {
  background-color: var(--dartmouth-green);
  color: var(--seasalt);
  border-color: var(--dartmouth-green);
}

section.intro-section iframe {
  width: 100%;
  height: 60vh;
}
