:root {
  --rich-black: #171A21;
  --spring-green: #00FF7F;
  --dartmouth-green: #198754;
  --seasalt: #F7F9F9;
  --card-bg: rgba(247, 249, 249, .05);
  --linear-transition: .3s linear;
}

::selection {
  background-color: var(--spring-green);
  color: var(--rich-black);
}

body {
  font-family: Inter, 'sans-serif';
  background-color: var(--rich-black);
  color: var(--seasalt);
  font-size: 1em;
}

h2 {
  font-size: 2.8em;
}

h5 {
  margin-bottom: 0;
  margin-top: .25rem;
  opacity: .6;
}

b {
  color: var(--dartmouth-green);
}

header h1 a {
  /* text-transform: uppercase; */
  color: var(--seasalt);
}

a.nav-link {
  color: var(--seasalt);
  font-weight: 500;
  font-size: 1em;
  opacity: .4;
  transition: var(--linear-transition);
}

a.nav-link:hover {
  color: var(--spring-green);
  opacity: 1;
  transition: var(--linear-transition);
}

button.btn {
  border-radius: 20px;
  padding: 0 24px;
  height: 40px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
}

button.btn-primary {
  color: var(--rich-black);
  background-color: var(--spring-green);
  border-color: var(--spring-green);
  transition: var(--linear-transition);
}

button.btn-outline-primary {
  color: var(--seasalt);
  border-color: var(--seasalt);
  transition: var(--linear-transition);
}

button.btn-outline-primary:hover {
  color: var(--rich-black);
  border-color: var(--spring-green);
  background-color: var(--spring-green);
  transition: var(--linear-transition);
}

button.btn-primary:hover {
  background-color: var(--dartmouth-green);
  color: var(--seasalt);
  border-color: var(--dartmouth-green);
  transition: var(--linear-transition);
}

section.intro-section iframe {
  width: 100%;
  height: 60vh;
}

.breadcrumb-item a {
  color: var(--seasalt);
  text-decoration: none;
  transition: var(--linear-transition);
}

.breadcrumb-item a:hover {
  color: var(--spring-green);
  transition: var(--linear-transition);
}

.breadcrumb-item.active {
  color: var(--dartmouth-green);
}

.card {
  background-color: var(--card-bg);
  color: var(--seasalt);
  border: none;
}

.card small.text-body-secondary {
  color: var(--seasalt) !important;
  background-color: var(--dartmouth-green);
  padding: 8px 12px;
  border-radius: 20px;
  font-size: .8em;
  font-weight: 600;
}

.card a.card-link {
  color: var(--spring-green);
  text-decoration: none;
  font-weight: 600;
  font-size: .9em;
}

.section-header {
  border-bottom: 2px solid var(--card-bg);

}

.about-article-content {
  max-width: 740px;
}

.about-section h5 {
  width: 140px;
}

/* .header-bg-image img {
  width: 100%;
  height: 320px;
  background-size: cover;
} */

.header-bg-image {
  background-image: url('../header-bg.jpg');
  background-size: cover;
  height: 320px;
}

.list-group-item {
  background-color: var(--card-bg);
  color: var(--seasalt);
}

footer {
  border-top: 2px solid var(--card-bg);
}

footer #copyright {
  font-size: .8em;
  opacity: .6;
}
