<!DOCTYPE html>
<html lang="{{craft.app.language}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{siteName}}</title>
    {# Reset CSS #}
    {% do craft.app.view.registerCssFile('@web/assets/css/reset.css') %}
    {# Bootstrap files #}
    {% do craft.app.view.registerCssFile('@web/assets/bootstrap/bootstrap.min.css') %}
    {# Style CSS #}
    {% do craft.app.view.registerCssFile('@web/assets/css/style.css?12345') %}
</head>
<body>
    <header>
      <nav>
        <ul id="nav-menu">
          <li><a href="{{siteUrl}}">Home</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    {# hier komt de content #}
    {% endblock %}

    <footer>
        Dit is de footer
    </footer>

</body>
</html>
